body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;

    background-color: white;
    background-image: url(# );
    background-position: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation {
    font-size: 24px;
    line-height: 30px;
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}
.main-navigation a{ 
    color: black;
}
.main-navigation a:hover {border-width: 10px;}


.main-navigation a:focus{background-color: antiquewhite;}


.main-navigation {
    display: flex; /* Устанавливаем flex-контейнер */
    justify-content: center; /* Выравниваем элементы по центру */
}

.main-navigation ul {
    list-style-type: none; /* Убираем маркеры списка */
    display: flex; /* Устанавливаем flex-контейнер для списка */
    margin: 0,0;
}

.main-navigation li {
    margin: 0 10px; /* Добавляем отступы между пунктами меню */
}

.main-navigation a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #000000; /* Устанавливаем цвет текста для ссылок */
}

.button{
    border: 1px solid #000;
    font: inherit;
    font-size: 20px;
    text-align: center;
    
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: black;

    display: inline-block;
    padding: 10px 20px;
    background-color: #b9954e; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 20px; /* Скругление углов */
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s;


}
.button:hover {
    background-color: #a8bcc3;
}


.features {
    text-align: center;
    font-size: 50px; 
    color: rgb(102, 91, 52); }
.features-list {list-style: none;}
.feature-item{text-align: center;}
.feature-item h3{
    font-size: 30px;
    line-height: 42px;
}





.gallery{
background-color: antiquewhite;
border: 7px solid #ffff;

}
.index-columns{
color: black;
background-color: rgb(255, 255, 255);
}


.index-columns {
    display: grid;
    grid-template-columns: auto 1fr; /* Одна колонка для изображения, вторая для списка */
    gap: 20px; /* Пространство между колонками */
}

.gallery img {
    width: 500px; /* Ширина изображения */
    height: 720px; /* Высота изображения */
}

.uslugi-list {
    list-style: none; /* Убираем маркеры у списка */
}

.uslugi-item {
    margin-bottom: 20px; /* Отступ между элементами списка */
}




.uslugi {text-align: center;
font-size: 36px;}

.uslugi-list {list-style: none;}
.uslugi-item{text-align: center;}
.uslugi-item h3{
    font-size: 20px;
    line-height: 22px;
}






.main-footer{
    color: black;

    background-color: antiquewhite;
    background-image: ();
    background-position:  0 0;
    background-repeat: repeat;
}
.footer-contacts a{
    color:black;
    text-decoration: underline;

}

.footer-contacts a:hover,
.footer-contacts a:focus{
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
    
 
}
.social-button{
    color: rgb(0, 0, 0);
}
.footer-copyright{
    text-align: center;
}

.main-footer {
    display: flex;
    justify-content: space-around; /* Чтобы блоки равномерно распределились по горизонтали */
}

.footer-section {
    flex: 1; /* Чтобы блоки занимали одинаковое пространство */
}
